.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-item {
  display: flex;
  justify-content: center;
}

.clients-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
       margin-top: -30px;
}

.clients-item-list {
  flex-basis: calc((100% - 60px) / 2);
       margin-left: 30px;
       margin-top: 30px;
}

.clients-link {
  @extend %align;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    border-radius: 4px;
  }
}

.clients-logo {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  .clients-link:hover &,
  .clients-link:focus & {
    fill: var(--accent-color);
  }
}

// @media screen and (max-width: 767px) {}

// =================================768===================================
@media screen and (min-width: 768px) {
  .clients-item-list {
    flex-basis: calc((100% - 90px) / 3);
  }

.clients-link {
  width: 226px;
}

}


// =================================1200===================================
@media screen and (min-width: 1200px) {

.clients-item-list {
    display: flex;
    flex-basis: auto;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;

.clients-link{
  width: 170px;
}

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }

}


// .clients-item {
//   display: flex;
//   justify-content: center;
// }

// .clients-item-list {
//   display: flex;
//   justify-content: center;
//   align-items: stretch;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .clients-link {
//   @extend %align;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border: 1px solid #2196f3;
//     border-radius: 4px;
//   }
// }

// .clients-logo {
//   fill: #afb1b8;
//   width: 106px;
//   height: 60px;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     fill: var(--accent-color);
//   }
//   .clients-link:hover &,
//   .clients-link:focus & {
//     fill: var(--accent-color);
//   }
// }
