

@media screen and (max-width: 1199px) {
.our-specialty {
        display: none;
    }
}


// =================================1200===================================
@media screen and (min-width: 1200px) {
.our-specialt-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }

    .our-specialty-card {
        flex-basis: calc((100% - 90px) / 3);
        margin-left: 30px;
        margin-top: 30px;
    }


    .our-specialty-header {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--text-white);
        background-color: rgba(47, 48, 58, 0.8);
        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .our-specialty-block {
        position: relative;
        width: 100%;
    }

}




