.portfolio {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-design {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-nav-effects {
  width: 100%;
}

.portfolio-btn {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}



.portfolio-nav {
  & .header {
    color: var(--text-color-first);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }

  & .paragraf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color-second);
  }
}

.portfolio-border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.social-list-img {
  width: 32px;
  height: 32px;
}

.portfolio-nav-effects {
  position: relative;
  overflow: hidden;
}

.portfolio-nav-text {
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--text-white);
  font-size: 18px;
  line-height: 1.56;

  display: flex;
  align-items: center;

  position: absolute;
  overflow: hidden;

  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(0%, 100%);

  opacity: 0;

  .portfolio-nav-effects:hover &,
  .portfolio-nav-effects:focus & {
    opacity: 1;
    transform: translate(0, 0);
  }

  .portfolio-design:hover &,
  .portfolio-design:focus & {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 767px) {
  .portfolio-border:not(last-child) {
    margin-bottom: 30px;
  }

  .portfolio-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;

  }

.portfolio-btn-margin {
  margin-right: 8px;

  &:nth-child(-n+3){
    margin-bottom: 8px;
  }

  &:nth-child(5n) {
    margin-right: 0px;
  }
}

}

  @media screen and (min-width: 768px) {
  .portfolio-btn-margin {
      margin-right: 8px;

      &:nth-child(-n+3) {
          margin-bottom: 0px;
        }
  
      &:nth-child(5n) {
        margin-right: 0px;
      }
    }
  }

@media screen and (max-width: 1199px) {
  .portfolio-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .portfolio-margin:not(last-child) {
    margin-bottom: 30px;
  }
}

// =================================1200===================================
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }

   

  .portfolio-btn {
    margin-bottom: 50px;
    justify-content: center;
  }

  .portfolio-nav {
    display: flex;
    flex-wrap: wrap;

    & .header {
      color: var(--text-color-first);
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;

      margin-bottom: 4px;
    }

    & .paragraf {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.03em;
      color: var(--text-color-second);
    }
  }

  .portfolio-margin {
    flex-basis: calc((100% - 90px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover,
    // &:focus,    {
    // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    // }

    &:nth-child(3n) {
      margin-right: 0px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  .portfolio-border {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 20px 24px;
  }

  .social-list-img {
    width: 32px;
    height: 32px;
  }

  .portfolio-nav-effects {
    position: relative;
    overflow: hidden;
  }

  .portfolio-nav-text {
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--text-white);
    font-size: 18px;
    line-height: 1.56;

    display: flex;
    align-items: center;

    position: absolute;
    overflow: hidden;

    top: 0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(0%, 100%);

    opacity: 0;

    .portfolio-nav-effects:hover &,
    .portfolio-nav-effects:focus & {
      opacity: 1;
      transform: translate(0, 0);
    }

    .portfolio-design:hover &,
    .portfolio-design:focus & {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

// .portfolio {
//   background-color: #ffffff;
// }

// .portfolio-design {
//   display: inline-block;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   overflow: hidden;

//   &:hover,
//   &:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//       1px 4px 6px rgba(0, 0, 0, 0.16);
//   }
// }

// .portfolio-btn {
//   display: flex;
//   margin-bottom: 50px;
//   justify-content: center;
// }

// .portfolio-btn-margin {
//   margin-right: 8px;

//   &:nth-child(5n) {
//     margin-right: 0px;
//   }
// }

// .portfolio-nav {
//   display: flex;
//   flex-wrap: wrap;

//   & .header {
//     color: var(--text-color-first);
//     font-weight: 700;
//     font-size: 18px;
//     line-height: 2;
//     letter-spacing: 0.06em;

//     margin-bottom: 4px;
//   }

//   & .paragraf {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.03em;
//     color: var(--text-color-second);
//   }
// }

// .portfolio-margin {
//   flex-basis: calc((100% - 90px) / 3);
//   margin-right: 30px;
//   margin-bottom: 30px;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   // &:hover,
//   // &:focus,    {
//   // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
//   // }

//   &:nth-child(3n) {
//     margin-right: 0px;
//   }

//   &:nth-last-child(-n + 3) {
//     margin-bottom: 0;
//   }
// }

// .portfolio-border {
//   border-left: 1px solid #eeeeee;
//   border-right: 1px solid #eeeeee;
//   border-bottom: 1px solid #eeeeee;
//   padding: 20px 24px;
// }

// .social-list-img {
//   width: 32px;
//   height: 32px;
// }

// .portfolio-nav-effects {
//   position: relative;
//   overflow: hidden;
// }

// .portfolio-nav-text {
//   background-color: rgba(33, 150, 243, 0.9);
//   height: 100%;
//   width: 100%;
//   padding-left: 24px;
//   padding-right: 24px;
//   color: var(--text-white);
//   font-size: 18px;
//   line-height: 1.56;

//   display: flex;
//   align-items: center;

//   position: absolute;
//   overflow: hidden;

//   top: 0;
//   left: 0;
//   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   transform: translate(0%, 100%);

//   opacity: 0;

//   .portfolio-nav-effects:hover &,
//   .portfolio-nav-effects:focus & {
//     opacity: 1;
//     transform: translate(0, 0);
//   }

//   .portfolio-design:hover &,
//   .portfolio-design:focus & {
//     opacity: 1;
//     transform: translate(0, 0);
//   }
// }
