
.logo__link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.logo_theme_accent {
    color: var(--accent-color);
}

.logo_theme_light {
    color: var(--text-black);
}



// .logo {
//     margin-right: 90px;
// }

// .logo__link {
//     font-family: var(--secondary-font);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
// }


// .logo_theme_accent {
//     color: var(--accent-color);
// }

// .logo_theme_light {
//     color: var(--text-black);
// }

// .logo_theme_dark {
//     color: var(--text-white);
// }