.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  width: 100%;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    overflow: scroll;
  }

  @media screen and (min-width: 1200px) {
    max-width: 530px;
  }
}

.modal-close-logo {
  width: 20px;
  height: 20px;
}

.modal__btn_close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  @extend %align;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: #212121;
}

.form-logo {
  width: 20px;
  height: 20px;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.contact-form__field {
  font-size: 12px;
  color: var(--text-color-second);
}

.contact-form__input_wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--text-color-first);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form__input:focus+& {
    fill: #2196f3;
  }
}

.contact-form__comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.contact-form__btn {
  margin: 0 auto;
  display: block;
  min-width: 200px;
  align-self: center;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.checkbox__label {
  // display: flex;
  //   justify-content: center;
  //   align-items: center;
  margin-top: 20px;
  font-size: 12px;
  margin-bottom: 30px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--text-color-second);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  

  //        @media screen and (min-width: 1200px) {
  //          font-size: 14px;
  //          line-height: 1.714;
  //        }

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid black;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
    content: '';
    margin-right: 10px;
  }

  .checkbox:checked+&::before {
    background-color: var(--accent-color);
    background-position: center;
    background-image: url(../images/icons/check.svg);
    background-repeat: no-repeat;
    border-color: var(--accent-color);
  }

  .checkbox:focus+&::before,
  .checkbox:hover+&::before {
    border-color: var(--accent-color);
  }


}
.checkbox__label{
@media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.checkbox__link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }

  .checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }

  .checkbox__link {
    font-size: 14px;
    line-height: 1.71;
  }
}