:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --text-color-first: #212121;
    --text-color-second: #757575;
    --accent-color: #2196F3;
    --text-black: black;
    --text-white: white;
    --icon-fill: #AFB1B8;
    --bacground-color: #F5F4FA;
}